// ================================================================ 
// At minimum, create variables for fonts, breakpoints, and colors.
// ================================================================ 

// color ============================== /
$base-color: black;
$primary-color: #57E1C0;
$secondary-color: #50DDFC;
$tertiary-color: white;

// border ============================= /
$border-left: .3em solid $primary-color;
$border-radius: 5px;
// font =============================== /
$font-lighten: lighten($base-color, 50%);
$font-size-26: 26px;

//layout ============================== /
$width-100: 100%;
$height-100: 100%;
$margin-top: 2em;
$top-padding: 1em;
$padding-left: 1em;
$align-left: left;

// links =============================== /
$link-hover-color: white;
$link-color: black;
$link-radius: 5px;
$link-height: 3em;

// flex ================================ /
$flex-100: 1;

// display block ======================= /
$display-block: block;

// button ======================= /
