// Forms:
// .form
// .form__label--hidden
// .form__input

.form {
    @include flex (flex, column, wrap, center);
    .img--avatar {
        margin: 2em auto;
    }
    .form__label--hidden {
        display: none;
    }
    .form__input {
        border: none;
        border-bottom: .4em solid $primary-color;
        text-align: $align-left;
        margin: 0 1em 2em 1em;
        padding-left: $padding-left;
        height: $link-height;
    }
}