// Forms:
// .form
// .form__label--hidden
// .form__input

.form {
    @include flex (flex, column, wrap, center);
    .img--avatar {
        margin: 1.5em auto .8em;
    }
    .form__label--hidden {
        display: none;
    }
    .form__input {
        border: none;
        border-bottom: .4em solid $primary-color;
        text-align: $align-left;
        margin: 0 2em 1em 2em;
        padding-left: $padding-left;
        height: $link-height;
    }
    .headline--secondary {
        margin-top: 4em;
        padding-left: 1.5em;
    }
}