// Grid:
//     .container
//     .grid__row
//     .grid__col--2
//     .grid__col--3
//     .grid__col--4
//     .grid__col--5
//     .grid__col--6
//     .grid__col--7
//     .grid__col--8
//     .grid__col--9
//     .grid__col--10
//     .grid__col--11
//     .grid__col--12
//     .centered
//     .theme__colors

.container {
    padding: 3em;
    color: $font-lighten;
}
.grid__row {
    text-align: $align-left;
    margin-bottom: $margin-bottom-big;
}

.grid__col--3 {
    text-align: center;
    &.theme__colors {
        text-align: $align-left;
        @include bttn($grid-3, $border-radius, $grid-text, $margin-bottom-small);
    }
}
.grid__col--4 {
    &.theme__colors {
        @include bttn($grid-4, $border-radius, $grid-text, $margin-bottom-small);
    }
}
.grid__col--5 {
    &.theme__colors {
        @include bttn($grid-5, $border-radius, $grid-text, $margin-bottom-small);
    }
}
.grid__col--6 {
    text-align: center;
    &.theme__colors {
        text-align: $align-left;
        @include bttn($grid-6, $border-radius, $grid-text, $margin-bottom-small);
    }
}

.grid__col--7 {
    &.theme__colors {
        @include bttn($grid-7, $border-radius, $grid-text, $margin-bottom-small);
    }
}
.grid__col--8 {
    &.theme__colors {
        @include bttn($grid-8, $border-radius, $grid-text, $margin-bottom-small);
    }
}
.grid__col--12 {
    @include flex(flex, column, wrap, center);
    &.theme__colors {
        @include bttn($grid-12, $border-radius, $grid-text, $margin-bottom-small);
    }
}