// Image:
// .img--logo
// .img--frame
// .img--avatar

.img--frame {
    width: $width-100;
    margin-top: 3em;
    border: 2px solid #F2F2F2;
    padding: 1em;
}
.img--avatar {
    width: 50%;
    margin-top: 2em;
}
.img--logo {
     margin-top: $margin-top-logo;
}