// Navigation:
// .nav__item


.nav__item {
    @include nav($primary-color, $link-radius, $link-color, $link-hover-color);
    a {
        display: $display-block;
        text-align: center;
        font-size: 18px;
       @include mediaq('769') {
           padding: .9em .4em .4em .4em;
       }
    }
    
}